:root {

    --clr-primary-300 : hsl(355, 100%, 74%);
    --clr-primary-400 : hsl(356, 100%, 66%);
    --clr-primary-600 : hsl(208, 49%, 24%);

    --clr-neutral-100 : hsl(0, 0%, 100%);
    --clr-neutral-200 : hsl(240, 2%, 79%);
    --clr-neutral-300 : hsl(207, 13%, 34%);
    --clr-neutral-600 : hsl(240, 10%, 16%);

    --fs-400: 1rem;

    --ff: "Ubuntu", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    /* Set core body defaults */
    min-height: 100vh;
    line-height: 1.5;


}

/* Set shorter line heights on headings and balance text wrapping */
h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* remove default styles on buttons */
button {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

/* remove default styles on links */
a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

/* remove default styles on lists */
ul {
    list-style: none;
    padding: 0;
}