:root {

    --clr-primary-300 : hsl(355, 100%, 74%);
    --clr-primary-400 : hsl(356, 100%, 66%);
    --clr-primary-600 : hsl(208, 49%, 24%);

    --clr-neutral-100 : hsl(0, 0%, 100%);
    --clr-neutral-200 : hsl(240, 2%, 80%);
    --clr-neutral-300 : hsl(207, 13%, 34%);
    --clr-neutral-600 : hsl(240, 10%, 16%);

    --fs-400: .8rem;

    --ff: "Ubuntu", sans-serif;

    --flex-gap: 1.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    /* Set core body defaults */
    min-height: 100vh;
    line-height: 1.5;
    overflow-x: hidden;

    font-family: var(--ff);
    font-size: var(--fs-400);
}

/* Set shorter line heights on headings and balance text wrapping */
h1,
h2,
h3 {
  line-height: 1.3;
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* remove default styles on buttons */
button {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

/* remove default styles on links */
a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

/* remove default styles on lists */
ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin-inline: auto;
}

header {
    background-color: var(--clr-primary-400);
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: var(--clr-neutral-100);

    text-align: center;

    padding-block: 2rem;
}

header button, a {
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
}

/* hide the menus until they get clicked on */
.menu {
    display: none;

    position: absolute;
    top: 2.5rem;

    color: var(--clr-neutral-600);
    background-color: var(--clr-neutral-100);
    text-align: left;
    width: 7.5rem;

    padding: 1.3rem;
    border-radius: .6rem;
}

.menu[data-menu = 'open'] {
    display: block;
}

.menu > *:hover {
    color: var(--clr-neutral-300);
}

#product-menu {
    left: -1.5rem;
}

#company-menu {
    left: 7rem;
}

#connect-menu {
    left: 15rem;
}

.menu :not(:last-child) {
    margin-bottom: .5rem;
}

/* minimise the width of the logo img */
.logo {
    width: 5rem;
}

/* style the navigation bar */
#navigation-bar {
    display: flex;
    gap: var(--flex-gap);
    align-items: center;

    position: relative;
}

.registration {
    display: flex;
    gap: var(--flex-gap);
    align-items: center;
}

.primary-navigation {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 4rem;
}

/* style the sign up and the start for free buttons */
.sign-up {
    background-color: var(--clr-neutral-100);
    color: var(--clr-primary-400);

    padding: .6rem 1.5rem;
    border-radius: 2rem;
}

/* create the arrow button of dropdown menus */
.toggle-menu::after {
    content: var(--content, url(images/icon-arrow-light.svg));
    display: inline-block;
    width: .5rem;
    aspect-ratio: 1;
    margin-left: .7rem;
}

/* hide the hamburger button on large size screen */
#hamburger-btn {
    display: none;
}

.header-content {
    margin-block: 4rem;
}

h1 {
    font-size: clamp(1.7rem, 6vw, 2.5rem);
}

.intro {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    color: var(--clr-neutral-200);
}

.learn-more {
    padding: .6rem 1.5rem;
    margin-left: min(2vw, 1rem);
    border-radius: 2rem;
    border: solid 1px;
}


@media (max-width: 880px) {

    :root {
        --flex-gap: 2.2rem;
    }

    /* style the navigation bar */
    nav {
        position: fixed;
        inset: 10% 15% 20% 15%;
        background-color: var(--clr-neutral-100);
        box-shadow: 0px 1px 15px var(--clr-neutral-300);

        color: var(--clr-neutral-600);
        font-size: 1.2rem;

        flex-direction: column;

        padding: 2.5rem;
        border-radius: .6rem;

        display: none;
    }

    nav[aria-expanded = 'true'] {
        display: flex;
    }

    /* to make the humberger button go max rigt */
    .primary-navigation {
        display: flex;
        justify-content: space-between;
    }

    #hamburger-btn {
        display: block;
        width: 2rem;
        aspect-ratio: 1;

        background-image: url(images/icon-hamburger.svg);
        background-repeat: no-repeat;

        margin-top: .2rem;
    }

    #hamburger-btn[data-nav = 'open'] {
        background-image: url(images/icon-close.svg);
    }

    #navigation-bar {
        flex-direction: column;
        gap: var(--flex-gap);
    }

    #navigation-bar li {
        width: 100%;
        text-align: center;
    }

    .registration {
        flex-direction: column;

        border-top: solid 1px var(--clr-neutral-200);
        padding-top: 1.5rem;
    }

    .registration .sign-up {
        background-color: var(--clr-primary-400);
        color: var(--clr-neutral-100);

        padding-inline: 2rem;
    }

    .toggle-menu::after {
        content: var(--content, url(images/icon-arrow-dark.svg));
    }

    .menu {
        position: static;
        background-color: var(--clr-neutral-200);
        color: var(--clr-neutral-600);

        width: 100%;
    }

    .toggle-menu:hover {
        color: var(--clr-neutral-300);
    }
}